.category-image {
  width: 300px;
  height: 150px;
  object-fit: contain;
}
body {
  background-color: #967259 !important;
}
h1,
h2,
h3,
h4,
h5 {
  color: #ece0d1 !important;
}
p {
  color: #fcfbfa !important;
}
.card {
  background-color: #38220f !important;
}

.login-page {
  position: relative;
  min-height: 100vh;
}

.login-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.login-page > * {
  position: relative;
  z-index: 2;
}

.registration-page {
  position: relative;
  min-height: 100vh;
}

.registration-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.registration-page > * {
  position: relative;
  z-index: 2;
}

.auth-form .form-label {
  color: #ece0d1 !important;
}

.reg-form .form-label {
  color: #ece0d1 !important;
}
